.H1 {
    color: lightgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .3rem;
    text-transform: uppercase;
}

.Container {
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}